<!DOCTYPE html>
<html lang="mk - MK">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СОУ „Ристе Ристески-Ричко“ - Прилеп</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="">
  
</head>

<body>
    <nav>
        <div>
            <img src="{{ url_for('static', filename='rrr.png')}}" alt="">
        </div>  
        <div class="linkoj">
            <a class="a" href="#">За нас</a>
            <a class="a" href="#">Настани</a>
            <a class="a" href="#">Редовна настава</a>
            <a class="a" href="#">Образование за возрасни</a>
            <div class="kontakt">
                <a class="a kontakt" href="#">Контакт</a>
                <div class="dropdown-container">
                    <div class="dropdown-content">
                        <img src="{{ url_for('static', filename='aaa.png')}}" alt="">
                        <p class="a2" href="https://ricko.edu.mk/">СОУ„Ристе Ристески-Ричко“ Прилеп</p>
                        <p class="a2 p2" href="nas">Нас. Точила бб 7500 Прилеп</p>
                        <p class="a2 pomestuvajne p2">&#x260E;: +38948415376;</p>
                        <p class="a2 pomestuvajne p2">&#x1F4F1;: +38972241124;</p>
                        <p class="a2 pomestuvajne" href="www.gmail.com">✉️:riste.risteski.ricko@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <h1>СОУ„Ристе Ристески-Ричко“ Прилеп</h1>
    
    <p class="p1">Страницата е во изработка...</p>
</body>
</html>

